@import url('https://fonts.googleapis.com/css?family=Jua:400');

* { 
    padding: 0;
    margin: 0;
}

html, body { 
    font-family: Jua, sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 100%;
}

#page-grid {
    display: grid;
    grid-template-columns: 350px auto 250px;
    height: 100%;
}

#left-bar { 
    grid-column-start: 1;
    background-color: #2e2e2e;
}

#main-box {
    grid-column-start: 2;
    background-color: #FFFFFF;
}

#right-bar { 
    grid-column-start: 3;
    background-color: #F0F0F0;
}
